.tickets {
	background: url(../img/content/tickets__bg-phone.png) no-repeat;
	background-position: right 24%;
}
.tickets__title {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 60px;
	font-size: 25px;
	font-family: "Montserrat-Bold";
	font-weight: 700;
}

.tickets__table {
	white-space: nowrap;
	border-collapse: collapse;
	display: block;
	overflow-x: scroll;
}

.table__header > tr > th {
	padding-right: 60px;
	text-align: center;
	font-family: "Montserrat-Bold";
	font-weight: 700;
	border-bottom: 1px solid black;
	padding-bottom: 20px;
}
.table__header > tr > th:first-child {
	font-family: "Montserrat-Medium";
	font-weight: 500;
}
.table__header > tr > th:last-child {
	padding-right: 0px;
}
.table__body > tr:first-child > td{
	padding-top: 32px;
	padding-bottom: 20px;
}
.table__body > tr:last-child > td{
	padding-top: 20px;
	padding-bottom: 15px;
}
.table__body > tr > td  {
	text-align: center;
	padding-right: 70px;
}
.table__body > tr > td:first-child {
	font-family: "Montserrat-Bold";
	font-weight: 700;
	
	white-space: normal;
	text-align: start;
}
.table__body > tr > td:last-child {
	padding-right: 0;
}

.tickets__table::-webkit-scrollbar {
  background-color: #F7931E;
	height: 10px;
}

.tickets__table::-webkit-scrollbar-thumb {
  background-color: #F7931E;
	height: 20px;
}

.tickets__table::-webkit-scrollbar-track {
	background-color: #000;
}

.tickets__cards {
	margin-top: 60px;
	margin-bottom: 80px;
}

.cards__title {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	font-family: "Montserrat-Bold";
	margin-bottom: 45px;
}
.cards__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.card__item {
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	align-items: center;
}
.card__title {
	margin: auto;
	width: 220px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 38px;
	font-family: "Montserrat-Bold";
	font-weight: 700;
	line-height: 24px;
}
.card__time {
	display: flex;
	align-items: center;
	gap: 24px;
	margin-bottom: 38px;
}
.time__duration, .card__amount {
	font-size: 15px;
	color: rgba(12, 20, 23, .5);
	text-align: center;
	line-height: 20px;
}
.card__item:nth-child(3) .time__duration{
	width: 149px;
}
.card__price {
	font-family: "Montserrat-Bold";
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 15px;
}
.card__amount {
	margin-bottom: 15px;
}
.card__button {
	padding: 15px 48px;
	border: 1px solid #F7931E;
	transform: skew(-12deg);
	font-weight: 700;
	font-family: "Montserrat-Bold";
	color: #F7931E;
	margin-bottom: 30px;
}
.card__item:hover .card__button{
	color: #fff;
	background-color: #F7931E;
}
.card__item:hover .card__title{
	color: #F7931E;
}

@media (min-width: 768px) {
	.table__header > tr > th {
		padding-right: 5px;
	}
	.table__body > tr > td {
		font-size: 14px;
	}
	.table__body > tr > td  {
		text-align: center;
		padding-right: 10px;
	}
	.tickets__table {
		overflow-x:hidden;		
	}
	.tickets__title {
		font-size: 30px;
	}
	.tickets {
		background: url("../img/content/tickets__bg_tablet.png") no-repeat;
		background-position: right 38%;
	}
	.cards__title {
		font-size: 24px;
	}
	.cards__list {
		flex-direction: row;
		justify-content: space-between;
	}
	.card__title {
		height: 72px;
	}
	.card__time {
		height: 60px;
	}
	.tickets__cards {
		margin-top: 80px;
	}
}
@media (min-width: 1024px) {
	.table__body > tr > td:first-child {
		white-space: normal;
	}
	.table__body > tr > td {
		font-size: 16px;
	}
	.table__header > tr > th {
		padding-right: 16px;
	}
	.table__body > tr > td  {
		text-align: center;
		padding-right: 25px;
	}
	.cards__list {
		justify-content: center;
		gap: 30px;
	}
}
@media (min-width: 1366px) {
	.tickets__title {
		margin-bottom: 80px;
	}
	.table__body > tr > td:first-child {
		white-space: normal;
	}
	.table__header > tr > th {
		padding-right: 96px;
	}
	.table__body > tr > td  {
		text-align: center;
		padding-right: 105px;
	}
	.tickets {
		background: url("../img/content/tickets__bg_desktop.png") no-repeat;
		background-position: right 30%;
	}
	.card__item {
		width: 308px;
	}
	.tickets__cards {
		margin-top: 90px;
	}
}

@media (min-width: 1920px) {
	.table__header > tr > th {
		font-size: 18px;
	}
	.table__body > tr > td:first-child {
		white-space: nowrap;
	}
	.tickets__table {
		width: 1460px;
		margin: auto;
	}
	.tickets {
		background: url("../img/content/tickets__bg_desktop.png") no-repeat;
		background-position: right 10%;
	}
	.card__item:nth-child(1) .card__title{
		width: auto;
	}
	.card__title {
		height: auto;
	}
	.card__time {
		flex-direction: column-reverse;
		gap: 30px;
		height: 84px;
	}
	.card__amount {
		margin-bottom: 30px;
	}
	.card__item:nth-child(3) .time__duration{
		width: auto;
	}
	
}