.tickets {
	background: url(../img/content/tickets__bg-phone.png) no-repeat;
	background-position: right 95%;
}
.tickets__main-title {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 60px;
	font-size: 25px;
	font-family: "Montserrat-Bold";
	font-weight: 700;
}

.tickets__table {
	white-space: nowrap;
	border-collapse: collapse;
	display: block;
	
	overflow-x: scroll;

}

.table__header > tr > th {
	padding-right: 60px;
	text-align: center;
	font-family: "Montserrat-Bold";
	font-weight: 700;
	border-bottom: 1px solid black;
	padding-bottom: 20px;
}
.table__header > tr > th:first-child {
	font-family: "Montserrat-Medium";
	font-weight: 500;
}
.table__header > tr > th:last-child {
	padding-right: 0px;
}
.table__body > tr:first-child > td{
	padding-top: 32px;
	padding-bottom: 20px;
}
.table__body > tr:last-child > td{
	padding-top: 20px;
	padding-bottom: 15px;
}
.table__body > tr > td  {
	text-align: center;
	padding-right: 70px;
}
.table__body > tr > td:first-child {
	font-family: "Montserrat-Bold";
	font-weight: 700;
	
	white-space: normal;
	text-align: start;
}
.table__body > tr > td:last-child {
	padding-right: 0;
}

.tickets__table::-webkit-scrollbar {
  background-color: #F7931E;
	height: 10px;
}

.tickets__table::-webkit-scrollbar-thumb {
  background-color: #F7931E;
	height: 20px;
}

.tickets__table::-webkit-scrollbar-track {
	background-color: #000;
}
.tickets__title{
	margin-top: 60px;
	text-align: center;
	font-size: 20px;
	font-family: "Montserrat-Bold";
	font-weight: 700;
}
@media (min-width: 768px) {
	.table__header > tr > th {
		padding-right: 5px;
	}
	.table__body > tr > td {
		font-size: 14px;
	}
	.table__body > tr > td  {
		text-align: center;
		padding-right: 10px;
	}
	.tickets__table {
		overflow-x:hidden;		
	}
	.tickets__main-title {
		font-size: 30px;
	}
	.tickets {
		background: url("../img/content/tickets__bg_tablet.png") no-repeat;
		background-position: right 103%;
	}
	.tickets__title{
		margin-top: 90px;
		font-size: 24px;
	}
}
@media (min-width: 1024px) {
	.table__body > tr > td:first-child {
		white-space: normal;
	}
	.table__body > tr > td {
		font-size: 16px;
	}
	.table__header > tr > th {
		padding-right: 16px;
	}
	.table__body > tr > td  {
		text-align: center;
		padding-right: 25px;
	}
}
@media (min-width: 1366px) {
	.tickets__main-title {
		margin-bottom: 80px;
	}
	.table__body > tr > td:first-child {
		white-space: normal;
	}
	.table__header > tr > th {
		padding-right: 96px;
	}
	.table__body > tr > td  {
		text-align: center;
		padding-right: 105px;
	}
	.tickets {
		background: url("../img/content/tickets__bg_desktop.png") no-repeat;
		background-position: right 115%;
	}
	.tickets__title{
		margin-top: 100px;
	}
}

@media (min-width: 1920px) {
	.table__header > tr > th {
		font-size: 18px;
	}
	.table__body > tr > td:first-child {
		white-space: nowrap;
	}
	.tickets__table {
		width: 1460px;
		margin: auto;
	}
	.tickets {
		background: url("../img/content/tickets__bg_desktop.png") no-repeat;
		background-position: right 100%;
	}
}